@font-face {
		font-family: "PTSans";
		src: url("../fonts/PTSansRegular/PTSansRegular.eot");
		src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
		url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: 400;
}

@font-face {
		font-family: "PTSans";
		src: url("../fonts/PTSansBold/PTSansBold.eot");
		src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
		url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
		font-style: normal;
		font-weight: 700;
}

@font-face {
		font-family: "OpenSansSemiBold";
		src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
		src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
		url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
		font-style: normal;
		font-weight: 400;
}
@font-face {
		font-family: "UbuntuBold";
		src: url("../fonts/UbuntuBold/UbuntuBold.eot");
		src: url("../fonts/UbuntuBold/UbuntuBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/UbuntuBold/UbuntuBold.woff") format("woff"),
		url("../fonts/UbuntuBold/UbuntuBold.ttf") format("truetype");
		font-style: normal;
		font-weight: 700;
}