.block-1, .block-3, .block-5 {
  background-color: #eeeeef;
}

.block-7 {
  background-color: #50c3af;
}

/*-------------------*/
button{
    border-radius:30px;
}
.button_enable{
  background-color: #50c3af;
}

.button_disable{
  background-color: #D2D5DA;
}

.block-1__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 62px 0 68px 0;
}
.block-1__title{

  color: #40474e;
  font-family: "PTSans";
  font-size: 16px;
  text-transform: uppercase;
}
.block-1__img1{
    background-image: url(..//img/icon/css_sprites.png);
    background-position: -10px -76px;
    width: 43px;
    height: 31px;
    margin: 0 0 32px;
}
.block-1__img2{
    background-image: url(..//img/icon/css_sprites.png);
    background-position: -136px -10px;
    width: 39px;
    height: 35px;
    margin: 0 0 34px;
}
.block-1__img3{
    background-image: url(..//img/icon/css_sprites.png);
    background-position: -77px -10px;
    width: 39px;
    height: 42px;
    margin: 0 0 31px;
}
.block-1__text{
    width: 163px;
    color: #787b80;
    padding: 0px;
    margin-top: 9px;
    text-align: center;
}
.block-1__line{
    border-top: 2px solid #E2E3E4;
    width: 80%;
    margin: 10px;
}

.block-2__item{
    padding: 65px 0 77px 0;
}

.block-2__title{
  text-transform: uppercase;
  color: #40474e;
  padding-top: 20px;
}

.block-2__item p{
  width: 240px;
  color: #787b80;
 
  margin-bottom: 34px
  
}

.block-2__line{
    border-top: 2px solid #E2E3E4;
    width: 100%;
    margin: 23px 0 31px;
}

.block-2__button {
  outline: none;
  border: none;
  color: #F5F5F5;
  width: 98px;
  height: 35px;
}

.block-3__item{
      padding-top: 63px;
      padding-bottom: 64px;
}

.block-3__title{
  display: flex;
}

.block-3__title_text, .block-5__title_text{
  margin: 0px;
  padding: 0 0 15px 10px;
  color: #384048;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.block-3__img{
  width: 24px;
  height: 23px;
}

.block-3__line{
  border-top: 2px solid #E2E3E4;
  width: 100%;
  margin: 5px 0 20px;
}

.block-3__item p{
  width: 567px;
  color: #787b80;
  margin-bottom: 38px;
}

.block-3__img1{
    background-image: url(..//img/icon/css_sprites.png);
    background-position: 78px -65px;
    width: 24px;
    height: 23px;
}
.block-3__button{
  outline: none;
  border: none;
  color: #F5F5F5;
  width: 98px;
  height: 35px;
}

.block-4__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 62px 0 68px 0;
}



.block-4__line{
  border-top: 2px solid #E9EAEA;
  width: 100%;
  margin: 15px 0 20px;
}

.block-4__item img{

}

.block-4__title{
  text-transform: uppercase;
  color: #40474e;
  padding-top: 25px;
}

.block-4__item p{
  width: 168px;
  color: #787b80;
 
  margin-bottom: 25px;
}

.block-4__item a{
  width: 99px;
  height: 10px;
  color: #50c3af;

  text-decoration: none;
}

.block-5__item{
    display: flex;
    flex-direction: column;
    margin: 62px 0 61px 0;
}

.block-5__title{
  display: flex;
}

.block-5__title__image1{
  width: 24px;
  height: 19px;
}

.block-5__img1{
    background-image: url(..//img/icon/css_sprites.png);
    background-position: 140px -233px;
    width: 24px;
    height: 19px;
}

.block-5__img2{
    background-image: url(..//img/icon/css_sprites.png);
    background-position: -10px -127px;
    width: 20px;
    height: 20px;
}
.block-5__title__image2{
  width: 20px;
  height: 20px;
}

.block-5__line{
  border-top: 2px solid #E9EAEA;
  width: 100%;
  margin: 10px 0 20px;
}

.block-5__item p {
  width: 240px;
  color: #787b80;
  padding-bottom: 25px;
}

.block-5__button{
  outline: none;
  border: none;
  color: #F5F5F5;
  width: 98px;
  height: 35px;
}

.block-6__item{
    padding: 61px 26px 55px 0;
}

.block-6__line{
  border-top: 2px solid #E9EAEA;
  width: 100%;
  margin: 20px 0 25px 0;
  opacity: 0.6;
}

.block-6__title{
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #40474e;
}

.block-6 p{
  color: #787b80;
  padding: 0 0 20px 0;
}

.block-6__button{
  outline: none;
  border: none;
  color: #F5F5F5;
  width: 98px;
  height: 35px;
}

.block-7__item{
  display: flex;
  width:  100%;
  height:  auto;
  margin: 20px;
}
.block-7__title{
    display: flex;
    align-items: center;
    padding-top: 53px;
    color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.block-7__title img{
  height: 16px;
  width: 17px;   
  margin: 10px; 
}
.block-7__line{
  border-top: 2px solid #60C8B6;
  width: 55%;
  margin: 10px 0 31px 0;
  opacity: 0.6;
}
.block-7__group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.block-7__images img{
      margin: 0 20px 71px 20px;
}

.block-7__content{
   display:  flex;
    justify-content:  space-around;
    align-items: center;
    min-height: 26px;
    width: 500px;
    margin-bottom: 20px;

}

.block-7__img1{
    background-image: url(..//img/icon/css_sprites.png);
    background-position: 127px -127px;
    width: 17px;
    height: 16px;
    margin: 0 5px;
}

footer img{
  margin: 20px 0px 0px 0px;
}

footer p{
  font-size: 13px;
  color: #787b80;
  padding-right: 245px;
  margin-top: 20px;
}

.footer__image1{
  width: 18px;
  height: 17px;
}
.footer__image2{
  width: 10px;
  height: 17px;
}
.footer__image3{
  width: 16px;
  height: 14px;
}

header {
    background-image: url(../img/2-layers.png);
    width: 800px;
    height: 493px;
    background-size: 100%;
}

.header__menu{
      margin: 47px auto 0;
      li{
        display: inline-block;
        list-style-type:none; 
        margin: 0 20px;
      }
      a{
        color: #ffffff;
        font-family: "OpenSansSemiBold";
        font-size: 13px;
        text-transform: uppercase;
        text-decoration: none;
      }
}
.header__group1{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 63px;
}
.header__group1 img{
      width: 109px;
    height: 44px;
    margin: auto;
}
.header__group1 p{
  color: #ffffff;
  font-family: "UbuntuBold";
  font-size: 53px;
  text-transform: uppercase;
  margin: 60px auto 43px;

}
.header__group2{
  display: flex;
}
.header__group2 p{
  width: 216px;
  color: #ffffff;
  font-family: "PTSans";
  font-size: 12px;
  text-transform: uppercase;
  margin: 0px 34px 0px 32px;
  text-align: center;
  white-space: nowrap;
}
.header__line{
  border-top: 2px solid #566A72;
  width: 55%;
  margin: 10px 0 31px 0;
  opacity: 0.6;
}
.header__button{
  outline: none;
  border: none;
  color: #FFFFFF;
  height: 48px;
  width: 235px;
  color: #f5f5f5;
  font-family: "PTSans";
  font-size: 15px;
  text-transform: uppercase;
  margin: 40px auto;
}

.block-1__ico{
	width: 43px;
    height: 31px;
    background: url(../img/icon/css_sprites.png) no-repeat;
    background-position: -9px -77px;
}

.logo{
    width: 109px;
    height: 44px;
    margin: auto;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
 
@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

img:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}


.hide{
  visibility: hidden;
}
.visib{visibility: visible;}